

* {box-sizing:border-box}

body {
  background-image: url("../Images/32-325791_free-high-resolution-graphic-backgrounds-high-resolution-abstract.jpg");
  background-size: cover;
  /* background-color: wheat; */
  margin: 0;
  /* opacity: 60%; */
  /* background-blend-mode: luminosity; */
}

.mug_shot {
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  /* border: black; */
  /* border-style: groove; */
}

header{
  display: flex;
  justify-content: space-between;
  /* background-color: #36454F; */
  padding: 10px;
  align-items:baseline;
}

/* Stacy Martin  */
header h1 {
  font-size: 50pt;
  font-family: reklame-script, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #c5cbe3;
  padding: 10px;
  line-height: 1pt;
}

/* Links to About Me, Experience, Contact, Resume */
header nav a {
  font-size: 24px;
  font-family: reklame-script, sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 10px;
  color: #c5cbe3;
  margin-right: 5px;
  align-items: center;
}

nav a:hover {color: lightcoral}

/* .rosesImg {
  height: 200px;
  width: 100%;
  background-image: url("../Images/14707024_10210303741125812_1603463890066332308_o.jpg");
  background-size: cover;
  background-position:initial;
  /* opacity: 80%; */
/* } */

/* .butterflyfish {
  height: 250px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../Images/27788231_595143794158166_2456201630593097014_o.jpg");
  background-size: cover;
  background-position: center;
} */ 


main {
  color: #efe2df;
  font-family: korolev, sans-serif;
  font-style: normal;
  font-weight: 500;
}

h2 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.contact {
  display: flex;
  justify-content: space-between;
  /* background-color: #36454F; */
  padding: 30px;
  align-items: center;
  /* color: #b29700 */
  position: fixed;
  left: 0;
  bottom: 100px;
  width: 100%;
  /* text-align: center;
  border: white; */
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer h3 {
  /* padding: 0px; */
  /* clear: both; */
  font-family: reklame-script, sans-serif;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 2pt;
  text-align: center;
  color: #c5cbe3
}

footer h4 {
  padding: 0px,10px,10px,10px;
  clear: both;
  font-family: reklame-script, sans-serif;
  font-style: normal;
  font-weight: 200;
  text-align: center;
  font-size: 10pt;
  letter-spacing: 2pt;
  color: #c5cbe3
}

