

* {box-sizing:border-box}

body {
  background-color:seashell;
}

header nav {
  /* padding-top: 15px; */
  /* margin-right: 20px; */
 
}

/* Stacy Martin Header */
header h1 {
  /* float: center; */
  font-family: 'Brush Script MT', 'Lucida Sans Unicode';
  font-size: 50pt;
}

/* Links to About Me, Experience, Contact, Resume */
header ul li {
  display: inline-block;
  /* margin-top: 25px; */
  /* margin-left: 25px; */
  font-size: 20px;
  font-family: fantasy, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.butterflyfish {
  height: 250px;
  width: 100%;
  /* margin-bottom: 25px; */
  background-image: url("../Images/27788231_595143794158166_2456201630593097014_o.jpg");
  background-size: cover;
  background-position: center;
}




footer h3 {
  padding: 30px;
  clear: both;
  font-family: 'Brush Script MT', 'Lucida Sans Unicode';
  text-align: center;
}