
* {box-sizing:border-box}

body {
  /* background-image: url("../Images/32-325791_free-high-resolution-graphic-backgrounds-high-resolution-abstract.jpg");
  background-size: cover; */
  background-color: #c5cbe3;
  margin:inherit;
  /* opacity: 60%; */
  /* background-blend-mode: luminosity; */
}

header{
  float:left;
  display: flex;
  /* justify-content: space-between; */
  /* background-color: #36454F; */
  padding: 15px;
  /* align-items:baseline; */
  margin: 0;
}

.mug_shot1 {
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  /* border: black; */
  /* border-style: groove; */
  float: left;
}

/* Links to About Me, Experience, Contact, Resume */
header nav a {
  font-size: 34px;
  font-family: reklame-script, sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 10px;
  color: #c5cbe3;
  /* padding: 0px,0px,600px,0px; */
  /* margin-right: 5px; */
  /* align-items:unset; */
  float: right;
  /* align-items: center; */
}

nav a:hover {color: lightcoral}

/* Sunset image */
.BackgroundImg {
  background-image: url("../Images/32-325791_free-high-resolution-graphic-backgrounds-high-resolution-abstract.jpg");
  /* background-repeat: no-repeat; */
  background-attachment: fixed;  
  background-size:contain;
  /* margin: 0; */
  min-height: 80vh;
  text-align: center;
  display: block;
  padding-top: 0px;
}

/* Stacy Martin  */
section h1 {
  font-size: 50pt;
  font-family: reklame-script, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #c5cbe3;
  padding-top: 300px;
  line-height: 1pt;
  align-items: center;
  float: center;
}

/* my brief description */
section h2 {
  font-size: 30pt;
  font-family: reklame-script, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #c5cbe3;
  padding: 10px;
  float:center;
  line-height: 20pt;
  align-items: right;
}

h3 {
  float: left;
  padding: 20px;
  font-size: 20pt;
  color: #e27d60;
}

.Details {
  color: #e8a87c;
  font-family: korolev, sans-serif;
  font-style: normal;
  font-weight: 500;
}

h4 {
  float: right;
  padding: 20px;
  font-size: 20pt;
  color: #e27d60;
}



.contact {
  display: flex;
  justify-content: space-between;
  /* background-color: #36454F; */
  padding: 30px;
  align-items: center;
  /* color: #b29700 */
  /* position: fixed; */
  left: 0;
  bottom: 100px;
  width: 100%;
  /* text-align: center;
  border: white; */
}

footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer h5 {
  /* padding: 0px; */
  /* clear: both; */
  font-family: reklame-script, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16pt;
  letter-spacing: 2pt;
  text-align: center;
  color: #e27d60
}

footer h6 {
  padding: 0px,10px,10px,10px;
  clear: both;
  font-family: reklame-script, sans-serif;
  font-style: normal;
  font-weight: 200;
  text-align: center;
  font-size: 12pt;
  letter-spacing: 2pt;
  color: #e27d60
}

